[env]
# Task arena size of embassy-executor, see https://docs.embassy.dev/embassy-executor/git/cortex-m/index.html#task-arena
EMBASSY_EXECUTOR_TASK_ARENA_SIZE = "30720"
# Log filter for esp-println to apply at runtime. Also, a feature of the log crate strips all
# logging above info level from release builds at compile time (feature `release_max_level_info`).
ESP_LOG = "info,touch_n_drink=debug"
# Settings for esp-wifi, see https://docs.esp-rs.org/esp-hal/esp-wifi/0.10.1/esp32c3/esp_wifi/#additional-configuration
ESP_WIFI_COUNTRY_CODE = "DE"

[build]
target = "riscv32imc-unknown-none-elf"

[target.'cfg(any(target_arch = "riscv32", target_arch = "xtensa"))']
runner = "espflash flash --monitor"
rustflags = [
    # Required by esp-backtrace, but may negatively impact code performance
    "-C", "force-frame-pointers",
    # Required by esp-hal
    "-C", "link-arg=-Tlinkall.x",
    # Required by esp-wifi
    "-C", "link-arg=-Trom_functions.x",
]
